<%- include('partials/header.ejs') %>
<main>
  <h2>Contact Us</h2>
  <p>For inquiries, email us at: <a href='mailto:contact@gdg.com'>contact@gdg.com</a></p>
</main>
<%- include('partials/footer.ejs') %>
