<%- include('partials/header.ejs') %>
<main>
  <h2>Partners & Sponsors</h2>
  <p>Our partners and sponsors are key to our success. Check them out here!</p>
</main>
<%- include('partials/footer.ejs') %>
